<html>
  <body>
    <h1>Books</h1>
    <table>
      <thead>
        <tr>
          <th>title</th>
          <th>Body</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <tb>リードブルコード</tb>
          <tb>より良いコードを書くためのシンプルで実践的なテクニック</tb>
        </tr>
      </tbody>
    </table>
  </body>
</html>
